.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 100px 10px 50px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 50px;
    margin-bottom: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
}

.last-container {
    display: flex;
    width: 50%;
}

/* The Trash Button */
.trash-btn {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 17px;
}
.trash-btn:hover,
.trash-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Trash Button */
.more-btn {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 17px;
}
.more-btn:hover,
.more-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.delete-modal
{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 100px; /* Location of the box */
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.del-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

@-webkit-keyframes animatetop {
    from {top:-500px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-500px; opacity:0}
    to {top:0; opacity:1}
}

.del-modal-body {padding: 2px 50px;}

.yesnoBtn {
    width: 40%;
    color: white;
    padding: 14px 20px;
    margin: 20px 0px 0px 0px;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#delModalLabel {
    color: black;
}

#yesBtn {
    background-color: #ED4F32;
}

#noBtn {
    background-color: #4CAF50;
    margin-left: 70px;
}